/* Listing */

td.region {
  width: 70%;
}

/* Fields */

.items .field-wrap {
  background: #fff;
  border-bottom: 1px solid #eff1f2;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 24px !important;
}

.field-group, .field-group.closed {
  padding: 0;
}

.field-group .field-group-preview {
  padding-bottom: 12px;
}

.field-group-label {
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
}

/* Dividers */

.items h2.divider:first-of-type div {
  font-size: 16px;
}
.items h2.divider:first-of-type .divider-toggle {
  display: none;
}

h2.divider {
  background: #eff1f2;
  margin: 0 24px;
}

.divider-collapse-zone h2.divider {
  margin-left: 0;
}

.divider-collapse-zone {
  background: #fafafa;
  margin: 0 24px 40px 24px;
}

.divider-collapse-zone .divider-collapse-zone {
  margin-left: 0;
}

.divider-collapse-zone .divider-toggle {
  margin-left: 0;
  vertical-align: middle;
}

.edititem .items h2.divider:first-of-type {
  background: none !important;
}

.edititem .divider-collapse-zone h2.divider:first-of-type {
  background: #eff1f2 !important;
  margin-top: 20px;
}

.template-help {
  padding: 12px 24px 12px 24px;
  margin: 0;
  background: #fff;
}

/* Repeating Regions */

.repeated-fields .divider-collapse-zone {
  background: #fff !important;
}

.repeated-fields .divider-collapse-zone .field-wrap {
  background: #fff !important;
}

/* Assets */

.asset-badge-thumb img {
  max-width: 200px;
  min-width: 64px;
}

/* Notifications */

.notification.notification-success, .notification.notification-success a.notification-link {
  background-color: #EFFCF6;
  color:#199473;
  border-left: 2px solid #199473;
  box-sizing: border-box;
}

.notification.notification-success svg {
  fill: #199473;
}

.notification.notification-warning, .notification.notification-warning a.notification-link {
  background-color: #FFFBEA;
  color:#DE911D;
  border-left: 2px solid #DE911D;
  box-sizing: border-box;
}

.notification.notification-warning svg {
  fill: #DE911D;
}

.notification.notification-alert, .notification.notification-alert a.notification-link {
  background-color: #FFE3E3;
  color:#CF1124;
  border-left: 2px solid #CF1124;
  box-sizing: border-box;
}

.notification.notification-alert svg {
  fill: #CF1124;
}

/* Action Buttons */

.submit-bar-actions .button.button-simple#btnSubmit,
.submit-bar-actions .button.button-simple#btnsubmit {
  border-bottom-color: #199473;
}

.submit-bar-actions .button.button-simple#add_another {
  border-bottom-color: #1992D4;
}